@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "unageo";
  src: url("../../public/front/Unageo-Bold.ttf");
  font-style: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 2px; /* 纵向滚动条*/
  height: 2px; /* 横向滚动条 */
  background-color: transparent;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 5px;
}
body {
  @apply bg-[#0d0f14] font-unageo;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
